@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager navigationManager

<div class="min-h-screen flex flex-col bg-gradient-to-br from-slate-100 via-white to-slate-200">

    <div class="flex flex-1">

        <AuthorizeView>
            <Authorized>
                <!-- Sidebar -->
                <div class="bg-slate-900/90 backdrop-blur-xl text-white transition-all duration-300 shadow-xl"
                     style="width:@(SidebarOpen ? "250px" : "70px")">

                    <NavMenu SidebarOpen="SidebarOpen" OnSidebarToggle="ToggleSidebar" />
                </div>
            </Authorized>
        </AuthorizeView>

        <!-- Main Content -->
        <main class="flex-1 w-full">

            <article  >

                @Body
                <RadzenComponents />

            </article>

        </main>


    </div>

    <!-- Footer -->
    <footer class="py-4 backdrop-blur-lg bg-white/50 border-t border-white/40">
        <div class="flex items-center justify-center gap-2 text-sm text-gray-600">
 

            <span>
                Developed & Designed By
                <a href="https://mohitjokae.vercel.app/"
                   target="_blank"
                   class="text-blue-600 hover:underline">
                   Jokae
                </a>
            </span>

        </div>
    </footer>

</div>

<div id="blazor-error-ui"
     class="fixed bottom-4 right-4 bg-red-500 text-white px-4 py-2 rounded shadow">
    An unhandled error has occurred.
    <a href="" class="ml-2 underline">Reload</a>
</div>

@code {

    [Parameter]
    public bool SidebarOpen { get; set; } = true;

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var user = (await AuthStat).User;

        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/");
        }
    }

    private void ToggleSidebar()
    {
        SidebarOpen = !SidebarOpen;
    }
}
