<header class="cst-header">
    <h3 class="cst-header-title">
        <img type="image/png" src="/OmFaviNew.svg" alt="Om Media Logo" class="cst-header-logo" />
        Om Media
    </h3>
</header>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="auto-hiding-nav-menu"
     @onmouseover="ExpandNavMenu"
     @onmouseout="CollapseNavMenu">
    <nav class="nav-menu @(collapseNavMenu ? "collapsed" : "expand")">
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house fa-bounce fa-xl" style="color:#bebfc1;"></i>


                <span>  Home</span>
              

            </NavLink>
        </div>
      
        <div class="nav-item px-3">
       
            <NavLink class="nav-link" style="gap: 1rem;" href="clients">
                <i class="fa-solid fa-user-plus fa-xl" style="color:#bebfc1;"></i>
                AddClient
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="WorkHistory">

                <i class="fa-regular fa-clipboard fa-xl" style="color:#bebfc1;"></i>


                WorkHistory
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="JobsToDo">
                <i class="fa-solid fa-table-list fa-xl" style="color:#bebfc1;"></i>


               Offset/R/B 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="EmployeeManagement">

                <i class="fa-solid fa-bars-progress fa-xl" style="color:#bebfc1;"></i>

                EmployeeManagement
            </NavLink>
        </div>
       
       

    </nav>
    <div class="nav-item px-3 logout-item">
        <NavLink class="nav-link" style="gap: 1rem;" href="logout">
            <i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color:#bebfc1;"></i>
            Logout
        </NavLink>
    </div>
</div>
<style>


</style>
@code {
    private bool collapseNavMenu = true;
    private bool isHovered = false;

    private void ExpandNavMenu()
    {
        isHovered = true;
        if (collapseNavMenu) collapseNavMenu = false;
    }

    private void CollapseNavMenu()
    {
        isHovered = false;
        if (!collapseNavMenu) collapseNavMenu = true;
    }
}