 
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house fa-bounce fa-xl" style="color:#bebfc1;"></i>


                <span>  Home</span>
              

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="clients">
                <i class="fa-solid fa-user-plus fa-xl" style="color:#bebfc1;"></i>
                AddClient
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="WorkHistory">

                <i class="fa-regular fa-clipboard fa-xl" style="color:#bebfc1;"></i>


                WorkHistory
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="JobsToDo">
                <i class="fa-solid fa-table-list fa-xl" style="color:#bebfc1;"></i>


               Offset/R/B 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="gap: 1rem;" href="EmployeeManagement">

                <i class="fa-solid fa-bars-progress fa-xl" style="color:#bebfc1;"></i>

                EmployeeManagement
            </NavLink>
        </div>

         

    </nav>
</div>
