<header class="cst-header">
    <h3 class="cst-header-title">
    
        <img type="image/png" src="/OmFaviNew.svg" alt="Om Media Logo" class="cst-header-logo" @onclick="ToggleSidebar" />
        Om Media
    </h3>
</header>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="auto-hiding-nav-menu">
    <nav class="nav-menu">
        <div class="nav-item px-1">
            <NavLink class="nav-link wrap-text" style="gap: 1rem;" href=""  Match="NavLinkMatch.All">
                <i class="fa-solid fa-house fa-xl cst-nav-icon" style="color:#999999;"></i>
                <span>Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link wrap-text" style="gap: 1rem;" href="clients">
                <i class="fa-solid fa-user-plus fa-xl cst-nav-icon" style="color:#999999;"></i>
                <span>Client</span>
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link wrap-text" style="gap: 1rem;" href="WorkHistory">
                <i class="fa-regular fa-clipboard fa-xl cst-nav-icon" style="color:#999999;"></i>
                <span>Digital-P</span>
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link wrap-text" style="gap: 1rem;" href="JobsToDo">
                <i class="fa-solid fa-table-list fa-xl cst-nav-icon" style="color:#999999;"></i>
                <span>Offset/R/B</span>
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link wrap-text" style="gap: 1rem;" href="EmployeeManagement">
                <i class="fa-solid fa-bars-progress fa-xl cst-nav-icon" style="color:#999999;"></i>
                <span>Employee-M</span>
            </NavLink>
        </div>
    </nav>
    <div class="nav-item px-1 logout-item">
        <NavLink class="nav-link wrap-text" style="gap: 1rem;" href="logout">
            <i class="fa-solid fa-arrow-right-from-bracket fa-xl cst-nav-icon" style="color:#999999;"></i>
            <span>Logout</span>
        </NavLink>
    </div>
</div>
<style>
    .wrap-text {
        white-space: normal;
        word-wrap: break-word;
    }
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

 
</style>
@code {
    [Parameter]
    public bool SidebarOpen { get; set; }

    [Parameter]
    public EventCallback OnSidebarToggle { get; set; }

    private async Task ToggleSidebar()
    {
        await OnSidebarToggle.InvokeAsync(null);
    }
    
}