@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
  @rendermode InteractiveServer
 
 
 
<AuthorizeView>

    <Authorized>
        <h4> <h3>@context.User.Identity.Name </h3> Welcome  to Om Media World</h4>
    </Authorized>
    

</AuthorizeView>
 