.footer-template {
    background-color: #f8f9fa;
    color: #3D99C0;
    padding: 10px;
    text-align: left;
    border-top: 2px solid #dee2e6;
    animation: fadeIn 1s ease-in-out;
}

    .footer-template strong {
        font-weight: bold;
        color: #3D99C0;
    }
.cst-amount:hover {
    background: none;
    font-size: larger;
    background-color: whitesmoke;
    border: none;
}
    .footer-template td {
        padding: 10px;
    }

    .footer-template .total-payable,
    .footer-template .total-paid,
    .footer-template .total-due {
        transition: all 0.3s ease;
    }

        .footer-template .total-payable:hover,
        .footer-template .total-paid:hover,
        .footer-template .total-due:hover {
            background-color: #007bff;
            color: white;
            transform: scale(1.1);
        }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.tooltip {
    position: relative;
    display: inline-block;
    cursor: help; /* Change cursor to indicate hoverable */
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: auto;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%; /* Position the tooltip above the text */
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
